<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="auth__main">
        <div class="auth__box__container">
            <h3 class="auth__title">Inicia sesión</h3>
            <form th:action="@{/login}" method="post" autocomplete="off">
                <div class="form-group">
                    <label class="text-secondary" for="username">Usuario</label>
                    <div>
                        <input type="text" name="username" id="username" class="form-control" autocomplete="off" placeholder="Ingresa tu usuario" required autofocus />
                        <!-- th:errorclass="'border-danger'" -->
                    </div>
                    <!-- <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div> -->
                </div>
                <div class="form-group">
                    <label class="text-secondary" for="password">Contraseña</label>
                    <div>
                        <input type="password" name="password" id="password" class="form-control" autocomplete="off" placeholder="Ingresa tu contraseña" required />
                        <!-- th:errorclass="'border-danger'" -->
                    </div>
                </div>
                <button class="btn btn-primary btn-block my-2" type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>